body,
.navbar-default .navbar-nav>li>a,
.slider-text h2,
.slider-text h3,
.insta-sec h3,
.product-sec h3,
.store-sec h3,
.service-form h3,
.category-sec h3,
.product-sale figcaption h2,
.product-lookbook figcaption h2,
ul.footer-icon li:hover,
.footer-text p,
.product-img .product-sample p,
figcaption.product-sample,
.beautysec .owl-theme .owl-nav [class*='owl-'],
.team-member-sec h3,
.faq-page h3,
.comming-text p,
.timer,
div#demo span,
.comming-text h2,
.blog-detail h4,
.post h4,
.blog-reply h4,
.sidebar-blog-list li,
.color,
.arrival-sec h3,
.navbar-default .navbar-nav .dropdown-menu>li>a,
.page-links div a,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.nav .open > a:focus,
.nav .open > a:hover,
span.input-group-addon,
.shop-sec p,
#demo-product span,
a.blog-btn,
.member-title,
.member-title .member-title-role h3,
input.reg-btn,
.check-frm h3,
.cart-bill h3,
.search-for-text h2,
.search-for-text p,
ul.top-ico li:hover {
    color: #333333;
}
.a.square,
.banner-text h3,
.banner-text h2,
.product-lookbook figcaption p,
.product-lookbook figcaption h2,
.product-lookbook figcaption h5,
.blog-border P,
ul.widget li,
ul.col-2,
ul.col-3,
ul.col-4,
.blog-comment button,
li.circleabout,
.reg-page,
input.reg-btn {
    border-color: #333333;
}
a.slider-btn,
figure.insta-overlay:before,
.service-form a,
a.error-btn,
.dropdown-menu>li>a:hover,
ul.dropdown-menu.sm-nowrap li a:hover,
.page-links div a:hover,
.input-group,
.ui-state-active,
.faq-serch button,
.time:after,
.pagination-box span:hover,
.blog-comment button:hover,
section.error-full:before,
ul.widget li,
#collection-slider.owl-theme .owl-nav [class*='owl-'],
ul.col-2:hover li,
ul.col-3:hover li,
ul.col-4:hover li,
ul.col-2.active li,
ul.product-social-icon li a,
.add-to-cart a,
.like-it a,
.ui-accordion .ui-accordion-header:hover,
.preloader,
.search-our-text,
#demo-product .timer,
.arrival-sec .owl-theme .owl-nav [class*='owl-'],
.collection-page figcaption,
ul.blog-icon,
li.circleabout:hover,
a.number,
.copyright,
input.reg-btn:hover,
input.login-btn,
button.coupon-btn,
a.shop-cart-btn,
input.shop-cart-btn,
input.shop-cart-btn,
.horizontal-slider-product .owl-theme .owl-nav [class*='owl-'] {
    background-color: #333333;
}
.dropdown-menu,
.mega-menu .dropdown-menu {
    border-top: 1px solid #333;
}